body,
html,
#root,
.App {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#container > div {
	margin: 5px;
}

#buttons input + input {
	margin-left: 10px;
}

#keyLegend {
	margin-right: 10px;
}

.single {
	display: flex;
	justify-content: space-between;
}

.double {
	display: flex;
	flex: 1;
}

input {
	flex: 1;
}

input + span {
	margin: 0 10px;
}

textarea {
	width: 100%;
}
